*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: #edf1fd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 90%;
    
}

.Page{
    margin: 10px; 
}
/* List item */
li{
    list-style: none;
    cursor: pointer;
}
/* Anchor tag  */
a{
    text-decoration: none;

}
button{
    background-color:RGB(18 ,155 ,155);
padding: 4px 10px;
cursor: pointer;
color: white;
border: 1px solid white;
border-radius: 5px;
font-weight: 600;
width: fit-content;
}

/* hover */
button:hover{
    background-color: white;
    color: black;
    border: 1px solid green;
}
/* Navigation Bar */
nav{
    display: flex;
    width: 100%;
align-items: center;
justify-content: space-around;


}

/* logo */
nav.logo{
    font-weight: 700px;
    font-size: 40px;
}
nav ul{
    display: flex;
    gap: 20px;
    font-weight: 500px;
}

nav ul li:hover{
    text-decoration: underline;
    font-weight: 900;
}
.search-field{
    display: flex;
    gap: 20px;

}
input{
    padding: 4px 10px;
}
.hero-section{
    display: flex;
    align-items: center;
   margin-top: 120px;
   margin-left: 150px;
}
.hero-section-left h1 {
    font-size: 40px ;
    margin-bottom: 20px;
    font-weight: 700 ;
    
}
.hero-section-left h1 span {
    color: rgb(18, 155, 155);
       font-weight: 300px;
        font-size: 2.5rem;
    }
    .hero-section-left p {
        font-weight: 500;


    }
    .hero-section-left p span {
        font-weight: 700;
        font-size: 25px;
        color: rgb(18, 155, 155);
    }
.hero-section-right{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center;
   
}
.hero-section-right-button{
    display: flex;
    align-items: center;
gap: 30px;
}
 .hero-section-right img{
    height: 200px;
    width: 200px;
    border-radius: 50px;
 }
 .footer{
    display: flex;
    text-align: center;   
    width: 100%;
    margin: auto 0;
    position: absolute;
    bottom: 0;
    margin-left: 200px;
        gap: 180px;
        font-size: 15px;

 }
 footer ul {
    display: flex;
    gap: 10px;
    align-items: center;
    

 }

  footer ul li  a i:hover{
    background-color:  rgb(172, 179, 49);
    color: white;
    border: 2px solid white;

  }